%section.left-sidebar
  %h1.hidden= "Secondary navigation"
  %ul
    %li= link_to("Magazines", categories_path, :class => "magazines")
    %li= link_to("Shoes", "#", :class => "shoes")
    %li= link_to("Fruits", "#", :class=> "fruits")
    %li= link_to("Organic", "#", :class => "organic")
    %li= link_to("Wine", "#", :class => "wine")
    %li= link_to("Microbrew", "#", :class => "microbrew")
    %li= link_to("Farmers Market", "#", :class => "farmers-market")
    %li= link_to("Nutrition", "#", :class => "nutrition")
    %li= link_to("Education", "#", :class => "education")
    %li= link_to("Health", "#", :class => "health")
    %li= link_to("Beauty", "#", :class => "beauty")
    %li= link_to("Fragrance", "#", :class => "fragrance")
    %li= link_to("Fashion", "#", :class => "fashion")
    %li= link_to("Fresh Fish", "#", :class => "fresh-fish")
    %li= link_to("Accessories", "#", :class => "accessories")
  =link_to("Expand All", "#", :class => "btn secondary")
