%section.left-sidebar
  %h1.hidden= "Secondary navigation"
  %ul
    %li= link_to_unless_current("Magazines", "#", :class => "magazines")
    %li= link_to_unless_current("Shoes", "#", :class => "shoes")
    %li= link_to_unless_current("Fruits", "#", :class=> "fruits")
    %li= link_to_unless_current("Organic", "#", :class => "organic")
    %li= link_to_unless_current("Wine", "#", :class => "wine")
    %li= link_to_unless_current("Microbrew", "#", :class => "microbrew")
    %li= link_to_unless_current("Farmers Market", "#", :class => "farmers-market")
    %li= link_to_unless_current("Nutrition", "#", :class => "nutrition")
    %li= link_to_unless_current("Education", "#", :class => "education")
    %li= link_to_unless_current("Health", "#", :class => "health")
    %li= link_to_unless_current("Beauty", "#", :class => "beauty")
    %li= link_to_unless_current("Fragrance", "#", :class => "fragrance")
    %li= link_to_unless_current("Fashion", "#", :class => "fashion")
    %li= link_to_unless_current("Fresh Fish", "#", :class => "fresh-fish")
    %li= link_to_unless_current("Accessories", "#", :class => "accessories")
  =link_to("Expand All", "#", :class => "btn")

%section.main-content
  = image_tag('content/bread.png', :alt => "Product name", :class => "main-img")
  = link_to("Merchant Details", "#", :class => "hidden")

  = image_tag('content/user.png', :alt => "Username", :class => "user-img")

  %div.merchant-info
    = image_tag('content/logo.png', :alt => "D'Amato Bakery")

    %h1
      = link_to("D'Amato's Bakery")
      = " - Chicago, Illinois"
    %ul
      %li= "923 Members"
      %li.last= "392 Reviews"

  %section.quick-subscription
    %h1= "Quick Subscription Information"
    %div#tabs
      %ul
        %li= link_to("General Info", "#general-info")
        %li= link_to("Shipping Info", "#shipping-info")
        %li= link_to("Details", "details")
      %div#general-info
        %p= "Chicago's premier fresh sustainably sourced fresh fish and seafood market. We specialize in cutting sushi quality fresh globally sourced fish every day. Fish, seafood, home made gourmet foods to go."
        %p= "Fish options include:"
        %ul
          %li= "Atlantic Salmon"
          %li= "Ahi Tuna"
          %li= "Chilean Seabass"
          %li= "Porgies"
        %p= link_to("See configuration options", "#")
      %div#shipping-info
      %div#details

%section.right-sidebar
  %h1.hidden= "Delivery options"
  %form
    %fieldset
      %legend= "Get Fresh Bread Delivered"
      %input{:type => "radio", :name => "frequency", :value => "1", :class => "option"}
      %input{:type => "radio", :name => "frequency", :value => "3", :class => "option"}
      %input{:type => "radio", :name => "frequency", :value => "6", :class => "option"}
      %input{:type => "radio", :name => "frequency", :value => "9", :class => "option"}
    %fieldset
      %legend= "Monthly"
      %input{:type => "checkbox", :value => "on", :class => "switch"}
        %p.message
          = "Get fresh bread delivered from"
          = link_to("D'Amatos Bakery", "#")
          = "weekly or monthly for $29.00 & up."
          = link_to("Learn More", "#")
  %div#map

  %h1= "How Billably Works"
  = image_tag('content/video.png')

%section.as-seen-on
  %h1= "As seen on"
  %ul
    %li= link_to(image_tag('content/press-logos/cnn.png', :alt => "CNN"), "#", :title => "CNN")
    %li= link_to(image_tag('content/press-logos/the-new-york-times.png', :alt => "The New York Times"), "#", :title => "The New York Times")
    %li= link_to(image_tag('content/press-logos/bbc.png', :alt => "BBC"), "#", :title => "BBC")
    %li= link_to(image_tag('content/press-logos/forbes.png', :alt => "Forbes"), "#", :title => "Forbes")
    %li= link_to(image_tag('content/press-logos/the-wall-street-journal.png', :alt => "The Wall Stree Journal"), "#", :title => "The Wall Stree Journal")
    %li= link_to(image_tag('content/press-logos/nbc.png', :alt => "NBC"), "#", :title => "NBC")

