%h1.main= "Your current Subscriptions"
%section
  %div.name
    = image_tag('content/magazines/outdoor.png', :alt => "Outdoor combo")
    %div.info
      %h1= link_to("Outdoor Combo", "#")
      %ul.details
        %li= "$4.99 Monthly"
        %li.last= "329 Members"
      %div.buttontrack.on
        %div.button{:style => "margin-left: 37px;"}
          %span.label="On"
  %div.shipping
    %dl
      %dt="Last ship date"
      %dd="Jan 8, 2012"
      %dt="Next Cancellation Cutoff"
      %dd="Feb 2, 2012"
  %div.configure
    =link_to("Re-configure", "#", :class => "btn")

%section
  %div.name
    = image_tag('content/magazines/outdoor.png', :alt => "Outdoor combo")
    %div.info
      %h1= link_to("Outdoor Combo", "#")
      %ul.details
        %li= "$4.99 Monthly"
        %li.last= "329 Members"
      %div.buttontrack.on
        %div.button{:style => "margin-left: 37px;"}
          %span.label="On"
  %div.shipping
    %dl
      %dt="Last ship date"
      %dd="Jan 8, 2012"
      %dt="Next Cancellation Cutoff"
      %dd="Feb 2, 2012"
  %div.configure
    =link_to("Re-configure", "#", :class => "btn")

%section
  %div.name
    = image_tag('content/magazines/outdoor.png', :alt => "Outdoor combo")
    %div.info
      %h1= link_to("Outdoor Combo", "#")
      %ul.details
        %li= "$4.99 Monthly"
        %li.last= "329 Members"
      %div.buttontrack.on
        %div.button{:style => "margin-left: 37px;"}
          %span.label="On"
  %div.shipping
    %dl
      %dt="Last ship date"
      %dd="Jan 8, 2012"
      %dt="Next Cancellation Cutoff"
      %dd="Feb 2, 2012"
  %div.configure
    =link_to("Re-configure", "#", :class => "btn")

