= semantic_form_for [:admin, resource] do |f|
  - if resource.errors.any?
    %tr
      %td{:colspan => "2"}
        %h2
          = pluralize(resource.errors.count, "error")
          prohibited this testa from being saved:
        %ul
          - resource.errors.full_messages.each do |msg|
            %li= msg
  = f.hidden_field :remote_attachment_net_url, :id => "remote_attachment_net_url"
  .tcenter.grayField.ral
    %h2.borderBottom Upload New Image
    #progress_bar.ui-progress-bar.ui-container
      .ui-progress{:style => "width: 5%;"}
        %span.ui-label{:style => "display:none;"}
          Uploading

  = raw s3_uploader(:max_filesize => 500.megabytes)
  /#uploader
  /%a{:id => "pickfiles", :href => "#", :class => "medium silver button ram"} Select image
  %br
  = f.submit

= content_for :javascript_footer do
  = javascript_include_tag 'pluupload.js'

