= semantic_form_for [:admin, resource] do |f|
  - if resource.errors.any?
    %tr
      %td{:colspan => "2"}
        %h2
          = pluralize(resource.errors.count, "error")
          prohibited this testa from being saved:
        %ul
          - resource.errors.full_messages.each do |msg|
            %li= msg
  = f.hidden_field :remote_attachment_url, :id => "remote_attachment_net_url"

  = raw s3_uploader(:max_filesize => 500.megabytes)
  #uploader
    %a{:id => "pickfiles", :href => "", :class => "medium silver button ram"} Select image
    .tcenter.grayField.ral{:style => "display: none; margin-top: 10px;"}
      %div#upload_progress_bar.plupload_upload_progress
        %div#plupload-progress-status{:style=> "height: 100%; background: #47B21D; width:1%;"}
  %br
  = f.submit

= content_for :javascript_footer do
  = javascript_include_tag 'pluupload.js'

