= simple_form_for([:admin, resource],
  :url => resource.new_record? ? collection_url : resource_url(resource),
    :html => {:multipart => true, :method => (resource.new_record? ? "post" : "put") } ) do |f|
  - if resource.errors.any?
    %tr
      %td{:colspan => "2"}
        %h2
          = pluralize(resource.errors.count, "error")
          prohibited this testa from being saved:
        %ul
          - resource.errors.full_messages.each do |msg|
            %li= msg

  %div.clearfix
    = f.label :is_active
    %div.input= f.check_box :is_active

  = f.association :merchant
  = f.input :name
  = f.input :order
  = f.input :zipcode
  = f.association :states
  = f.input :description
  = f.input :fine_print
  = f.input :shipping_radius_in_miles
  = f.input :shipping_info
  = f.input :area

  %div.input.clearfix
    = f.label :ships_nationally
    %div.input= f.check_box :ships_nationally

  %div.input.clearfix
    = f.label :refundable
    %div.input= f.check_box :refundable

  %div.input.clearfix
    = f.label :featured
    %div.input= f.check_box :featured

  = label_tag "Categories"
  %div.input
    %ul.inputs-list
      - @categories.each do |category|
        %li
          = check_box_tag "subscription[category_ids][]", category.id,
            @subscription.category_ids.include?(category.id), id: dom_id(category)
          = label_tag dom_id(category), category.name

  %fieldset
    %legend= "Packages"
    = f.simple_fields_for :packages do |builder|
      = render :partial => 'package_fields', :locals => {:f => builder}

  %p= link_to_add_fields "Add package", f, :packages

  = f.input :etc

  %div.input= f.button :submit, :input_html => {:class => "primary"}

