%fieldset.fields
  = f.input :delivery_date, :as => :date
  = f.input :frequency
  = f.input :name
  = f.input :our_cost
  = f.input :customer_cost
  = f.input :description
  = link_to_remove_fields "remove", f
