!!! 5
%html
  %head
    %title Billably - Admin
    = stylesheet_link_tag "admin"
    = javascript_include_tag "admin/admin.js"
    = csrf_meta_tags
  %body.container
    #header.row
      #nav.span4.offset12
        %ul
          - if current_user
            %li= current_user.username
            %li= link_to "Sign Out", destroy_user_session_path
          - else
            %li= link_to "Sign In", new_user_session_path

      #flash
        - flash.each do |key, value|
          .message{ :class => key }
            %p= value
      #sub-nav
        %ul.tabs
          %li{:class => tab_class('categories')}= link_to "Categories", admin_categories_path
          %li{:class => tab_class('merchants')}= link_to "Merchants", admin_merchants_path
          %li{:class => tab_class('packages')}= link_to "Packages", admin_packages_path
          %li{:class => tab_class('purchases')}= link_to "Purchases", admin_purchases_path
          %li{:class => tab_class('subscriptions')}= link_to "Subscriptions", admin_subscriptions_path
          %li{:class => tab_class('users')}= link_to "Users", admin_users_path
    #main
      = yield
    #footer
      = yield :javascript_footer

