!!! 5
%html
  %head
    %title Realvolve
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      #nav
        %ul
          - if current_user
            %li= current_user.username
            %li= link_to "Sign Out", destroy_user_session_path
          - else
            %li= link_to "Sign In", new_user_session_path

      #flash
        - flash.each do |key, value|
          .message{ :class => key }
            %p= value
      #sub-nav
        %ul
          %li= link_to "Categories", admin_categories_path
          %li= link_to "Merchants", admin_merchants_path
          %li= link_to "Packages", admin_packages_path
          %li= link_to "Purchases", admin_purchases_path
          %li= link_to "Subscriptions", admin_subscriptions_path
          %li= link_to "Users", admin_users_path
    #main
      = yield
    #footer
      /= javascript_include_tag "application"
      = yield :javascript_footer
