!!! 5
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->
%head
  %title= "Billably"
  %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1; charset=utf-8"}
  %meta{"charset" => "utf-8"}
  %meta{ :content => "Manage all your subscriptions in one place", :name => "description" }
  %meta{ :content => "Francesco Pinto, Vero Rebagliatte", :name => "author" }
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = csrf_meta_tag

/
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'XXXXXX']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

%body{:class => "#{params[:controller]}-#{params[:action]}"}
  = yield

