!!! 5
%html
  %head
    %title BILLABLY
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    .container
      #header
        #nav
          %ul
            - if current_user
              %li= current_user.username
              %li= link_to "Sign Out", "/users/sign_out"
            - else
              %li= link_to "Sign In", "/users/sign_in"

        - unless current_user
          = render :partial => 'shared/omniauth_providers'
        #flash
          - flash.each do |key, value|
            .message{ :class => key }
              %p= value
      #main
        = yield
      #footer
        = javascript_include_tag "application"

